/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  */

body {
    /* justify-content: center;
    align-items: center; */
    /* background: #16384c; */
    background: rgb(123, 109, 127);
    text-align: center;
    /* margin: 10; */
}

button {
    position: relative;
    background-color: #16384c;
    border: none;
    font-size: 10px;
    color: #ffffff;
    padding: 20px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

#moreBtn {
    text-align: center;
}

button:after {
    content: "";
    background: pink;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

/* .overlay {
    background-color: black;
    position: absolute;
    top: 50px;
    right: 100px;
    bottom: 100px;
    left: 50px;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    color: yellowgreen;
} */
.overlay {
    /* margin: auto; */
    position: fixed;
    /* top: 50px; */
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    /* right: 25px; */
    background-color: #000;
    color: rgb(102, 79, 132);
    opacity: 0.9;
    z-index: 2;
    text-align: center;
}
/* uncommented because i am not sure what it does at the moment */
/* .overlay p {
    position: absolute;
    top: 0px;
    right: 0px;
} */

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
}

form {
    display: inline-block;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #eee;
    /* box-shadow: 0 5 20px 5px rgba(0, 0, 0, 0.06); */
    box-shadow: 5 10 2px 5px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 100%;
    font: outline;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* background-color: #5d4954; */
    background-color: #16384c;
}

.logo {
    color: rgb(226, 226, 226);
    /* text-transform: uppercase; */
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.Burger {
    display: none;
    cursor: pointer;
}

.Burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.container {
    display: grid;
    height: 100vh;
    align-items: center;
    grid-gap: 50px;
    margin-top: 30px;
    font-family: roboto;
    border-radius: 18px;
    /* responsive with auto-fit */
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    background: whitesmoke;
    box-shadow: 5px 10px 25px rgb(220, 173, 234);
    border-radius: 10px;
    /* hover effect see card:hover */
    transition: 0.8;
    cursor: pointer;
}
.card a {
    text-decoration: none;
    color: blue;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

img {
    /* max-width: 50%; */
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
    border: solid 1px black;
    align-items: center;
    width: 70%;
    height: 80%;
    object-fit: cover;
}

.title {
    /* text-align: center; */
    font-style: italic;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input {
    width: 150px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.1);
    border-radius: 3px;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
}
.nav-links li {
    opacity: 0;
}
.Burger {
    display: block;
}

.nav-active {
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
} */
