/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

body {
    justify-content: center;
    align-items: center;
    /* background: #16384c; */
    background: grey;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* background-color: #5d4954; */
    background-color: #16384c;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.Burger {
    display: none;
    cursor: pointer;
}

.Burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* .container {
    display: flex;
    flex-direction: row;
} */

.container {
    display: grid;
    height: 100vh;
    width: 40vw;
    align-items: center;
    grid-gap: 20px;
    margin-top: 30px;
    font-family: roboto;
    border-radius: 18px;
    /* responsive with auto-fit */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px black;
    background: whitesmoke;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 2);
    border-radius: 18px;
    /* hover effect see card:hover */
    transition: 0.6;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 18px;
    padding: 5px;
    border: solid 3px black;
    align-items: center;
}

.title {
    /* text-align: center; */
    font-style: italic;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input {
    /* align-items: center; */
    width: 150px;
    /* background: green; */
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.1);

    border-radius: 3px;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
}
.nav-links li {
    opacity: 0;
}
.Burger {
    display: block;
}

.nav-active {
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
